<!DOCTYPE html>
<html>
<head>
    <title>Bingo!</title>
    <meta charset="UTF-8">
</head>

<style>
body{
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 40px;
    display: flex;
    background: #E6E6FA;
}

.tabla{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.fila > div {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    text-align: center;
}

.fila{
    display: flex;
}

.celda{
    background: #DDA0DD;
    color: white;
}

.vacia{
    background: #D8BFD8;
}

</style>

<body>
    <div class="tabla">
        {% for fila in carton %}
            <div class="fila">
                {% for celda in fila %}
                    {% if celda == 0 %}
                        <div class="vacia">
                        </div>
                    {% else %}
                        <div class="celda">
                            {{ celda }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
</html>